html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.header-margin {
    margin-top: 20px;
    margin-bottom: 40px;
}

.form-margin {
    margin-top: 15px;
}

alink {
    text-decoration: underline !important;
}

ahover {
    text-decoration: none !important;
}