@model AllCarsQueryModel

@{
    ViewData["Title"] = "My Cars";
    ViewBag.AllowCarEdit = true;

    bool isHaveCars = Model.Cars.Any();
}

<partial name="_CriteriaFormPartial" model="Model" />

<div class="mb-5"></div>

@if (!isHaveCars)
{
    <div class="text-center mb-5"><h1>There are no cars!</h1></div>
}

<partial name="_CarsPartial" model="Model.Cars" />

<div class="mb-5"></div>

<partial name="_PagePartial" model="Model" />