@using Microsoft.AspNetCore.Identity
@using CarRentingSystem.Data
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject CarRentingDbContext dbContext

@{
    var user = await this.UserManager.GetUserAsync(this.User);
    bool isUserIsDealer = false;

    if (user != null)
    {
        string userId = await this.UserManager.GetUserIdAsync(user);
        isUserIsDealer = this.dbContext.Dealers.Any(d => d.UserId == userId);
    }
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @if (!isUserIsDealer)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Dealers" asp-action="Become">Become Dealer</a>
        </li>
    }
    else if (isUserIsDealer)
    {
        <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Dealers" asp-action="ViewOwnCars">My Cars</a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>